<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="qsos.app.demo">
	
	<application
		android:name="qsos.app.demo.AppApplication"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app"
		android:supportsRtl="true"
		android:theme="@style/Theme.AppCompat.Light.NoActionBar"
		tools:ignore="AllowBackup"
		tools:replace="android:label,android:icon,android:theme">
		
		<activity
			android:name="qsos.app.demo.view.activity.SplashActivity"
			android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.VIEW" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".view.activity.MainActivity" />
	
	</application>

</manifest>
